<section class="section band--navy cta">
  <div class="wrap cta__inner">
    <p class="cta__text" data-i18n="common.ctaText">{{ i18n.ms["common.ctaText"] }}</p>
    <div class="cta__actions">
      <a class="btn btn--white" data-wa href="#">
        <svg class="ic" aria-hidden="true"><use href="#ic-wa"/></svg>
        <span data-i18n="common.wa">{{ i18n.ms["common.wa"] }}</span>
      </a>
      <a class="cta__phone" data-tel href="#">
        <span class="iconcircle iconcircle--sm" style="background:rgba(255,255,255,.12)"><svg class="ic" aria-hidden="true"><use href="#ic-phone"/></svg></span>
        {{ site.phoneDisplay }}
      </a>
    </div>
  </div>
</section>
