<article class="doc">
  <img class="doc__photo" src="{{ doc.photo }}" alt="">
  <div class="doc__body">
    <h3 class="doc__name">{{ doc.name }}</h3>
    <p class="doc__role" data-i18n-obj data-ms="{{ doc.role_ms }}" data-en="{{ doc.role_en }}">{{ doc.role_ms }}</p>
    <p class="doc__cred" data-i18n-obj data-ms="{{ doc.credentials_ms }}" data-en="{{ doc.credentials_en }}">{{ doc.credentials_ms }}</p>
    <p class="doc__bio" data-i18n-obj data-ms="{{ doc.bio_ms }}" data-en="{{ doc.bio_en }}">{{ doc.bio_ms }}</p>
  </div>
</article>
